---
import Social from './Social.astro'
---
<header>
  <div class="flex justify-around h-16 shadow-[0px_2px_3px_-1px_rgba(0,0,0,0.1),0px_3px_0px_0px_rgba(25,28,33,0.02),0px_0px_0px_1px_rgba(25,28,33,0.08)]">
    <a class="flex items-center justify-center mr-4 font-bold" href="">Home
    </a>
    <Social />
  </div>
  <!-- ラインor影が必要ならば -->
  <div class="w-full"></div>
</header>