---

---
<div class="pt-24 sm:px-6 lg:px-32">
  <div class="mx-auto text-left">
    <h1 class="mt-2 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">
      I'm <span class="text-indigo-600">NAOKI KOJIMA</span>
    </h1>
    <p class="mt-2 text-base text-black sm:text-lg sm:max-w-xl md:text-xl">
      Creating products that users{" "}
      <span class="bg-blue-200 text-blue-800 px-2 py-1 rounded">want</span> to{" "}use
      <span class="bg-pink-200 text-pink-800 px-2 py-1 rounded">again.</span>
    </p>
    <p class="mt-4 text-sm text-gray-500">
      Currently studying UI/UX Design{" "}
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="inline-block"
      >
        <path d="M22 10v6M2 10l10-5 10 5-10 5z"></path>
        <path d="M6 12v5c3 3 9 3 12 0v-5"></path>
      </svg>{" "}
      at TECH.C.
    </p>
  </div>
</div>